<h1>Categories for "<%= @task.name %>" task</h1>

<% if @categories.length > 0 %>
	<%= form_tag(category_remove_task_path(@task)) do %>
<table>
<tr>
<th>Category</th>
<th>Remove?</th>
</tr>
	<% for category in @categories do %>
	<tr>
	<td><%= category.name %></td>
	<td><%= check_box_tag "categories[]", category.id %></td>
	</tr>
	<% end %>
	</table>
	<br />
		<%= submit_tag 'Remove checked categories' %>
	<% end %>
	<% else %>
		<p>Not assigned to any categories.</p>
	<% end %>

	<h2>Assign a category</h2>
	<% if @task.categories.count < Category.count then %>
		<%= form_tag(category_add_task_path(@task)) do %>
			<%= select_tag(:category,
			options_from_collection_for_select(@task.unassigned_categories, :id, :name)) %>
		<%= submit_tag 'Submit' %>
	<% end %>
<% else %>
	<p>"<%= @task.name %>" is assigned to every category.</p>
<% end %>
<p><%= link_to "Back", @task %></p>
